<ul id="lists">
  <% @lists.each_with_index do |list, list_id| %>
    <li class=<%= list_status(list_id) %>>
      <a href="/lists/<%= list_id %>">
        <h2><%= list[:name] %></h2>
        <p><%=todos_finished(list)%>/<%= list[:todos].size %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a href="/lists/new" class="add">New List</a>
<% end %>
